<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/main.css">
    <title>file </title>
</head>
<body>

      <h1 class="overlay">choisir fichier</h1>
     

<div class="container">
    <img src="../static/images/dawnload.png" width="200" height="200" alt="" srcset="">
<input type="file" name="" id="" class="upload">
<button type="button" >Click</button>
<section><div class="div" style="color: aliceblue;position: relative;top:480PX;z-index: 5;
font-size: 40PX;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;box-shadow: 0 0 30PX black;
text-align: center;"></div>
</section>
<div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
</div>    
<script src="../static/js/jquery.js"></script>
<script src="../static/js/index.js"></script>

</body>

</html>